:root {
    --pry--clr: hsla(0, 5%, 0%, 1);
    --txt--clr2: hsla(0, 5%, 0%, 1);
    --sec--clr: hsla(160, 50%, 60%, 1);
    --txt--clr1: #fff;
    --fontSize--13: 13px;
    --fontSize--14: 14px;
    --fontSize--30: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-size: var(--fontSize--14);
    font-family: montserrat;
}

@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: archivoBlack;
    src: url(../assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}

body {
    min-height: 100vh;
    width: 100%;
}

span {
    display: inline-block;
}

input {
    display: inline-block;
}

.latestpostIntro-title, .categories--intro>.catIntro-title{
    color: var(--sec--clr);
}